#title {
    text-align: center;
    color: white;
}

#color-palette {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.color {
    text-align: center;
    border: 1px solid black;
    display: inline;
    padding: 30px 40px;
    margin: 5px;
    border-radius: 10%;
}

#pixelBoxBorder {
    text-align: center;
    /* border: 1px red solid; */
    height: -50px;
    margin: 0px auto;

    text-align: center;
}

.pixel {
    border: 1px solid black;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0px;
    margin-bottom: -7px;
    margin-right: -1px;
}

body {
    background-image: url('https://user-images.githubusercontent.com/39142850/67110554-fdea5400-f20d-11e9-834a-d459a612b7b1.gif');
    background-position: center -20px;
    background-size: 1680px;
}

#Buttons-Conteiner {
    /* border: 5px solid red; */
    margin-bottom: 20px;
    text-align: center;
}

.Button {
    /* border: 5px solid green; */
    display: inline;
    padding: 5px;
}

#Borracha {
    background-color: white;
}

.selected {
    padding: 38px 48px;
    /* border: 3px solid white; */
}

#board-size {
    width: 100px;
}

input::placeholder {
    color: white;
}